.uk-layui-form
    form.layui-form.uk-form(action='/admin/sysdic/dicitem/update.html')
        input(type='hidden', name='id', value=sysDic.id)
        input(type='hidden', name='parentid', value=sysDic.parentid)
        input(type='hidden', name='dicid', value=((sysDic.parentid && sysDic.parentid == '0') ? sysDic.id : sysDic.dicid))
        input(type='hidden', name='p', value=(p ? p : '1'))
        .layui-form-item
            label.layui-form-label 名称：
            .layui-input-inline
                input.layui-input(type='text', name='name', required, lay-verify='required', placeholder='请输入名称', autocomplete='off', value=sysDic.name)
        .layui-form-item
            label.layui-form-label 代码：
            .layui-input-inline
                input.layui-input(type='text', name='code', required, lay-verify='required', placeholder='请输入代码', autocomplete='off', value=sysDic.code)
        .layui-form-item
            label.layui-form-label 图标：
            .layui-input-inline
                input.layui-input(type='text', name='iconstr', value=sysDic.iconstr, placeholder='请输入图标代码', autocomplete='off')
        .layui-form-item
            label.layui-form-label 图标类型：
            .layui-input-inline
                select(name='ctype', lay-verify)
                    option(value="layui-icon", selected=((sysDic.ctype == 'layui-icon') ? 'selected' : false) ) LayUI
                    option(value="kfont", selected=((sysDic.ctype == 'kfont') ? 'selected' : false) ) KFont
                    option(value="layout", selected=((sysDic.ctype == 'layout') ? 'selected' : false) ) Layout
                    option(value="report", selected=((sysDic.ctype == 'report') ? 'selected' : false) ) Report
        .layui-form-item
            label.layui-form-label 颜色：
            .layui-input-inline
                input.layui-input(type='text', name='iconskin', placeholder='请输入颜色', value=sysDic.iconskin, autocomplete='off')
        .layui-form-item
            label.layui-form-label 显示代码：
            .layui-input-inline
                input(type="checkbox", name="discode", lay-skin="switch", lay-text="启用|禁用", value="1", checked=(sysDic.discode == true ? 'checked' : false) )
        .layui-form-item
            label.layui-form-label 说明：
            .layui-input-inline
                textarea.layui-textarea(name='description', placeholder='请输入')= sysDic.description
        .layui-form-button
            .layui-button-block
                button.layui-btn(lay-submit, lay-filter='formDemo') 立即提交
                button.layui-btn.layui-btn-original(type='reset') 重置
script.
    layui.use('form', function () {
        var form = layui.form();
        form.render(); //更新全部
        form.verify({
            repass: function (value) {
                if (value != $('#password').val()) {
                    return '两次输入的密码不一致，请确认';
                }
            }
        });
    });

