//- Copyright (C) 2018-2022 Chatopera Inc, <https://www.chatopera.com>
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-  http://www.apache.org/licenses/LICENSE-2.0
//- 
//-  Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
- var styleColor = systemConfig.styleColor ? systemConfig.styleColor : '#32c24d'
- var bgColor = systemConfig.bgColor ? systemConfig.bgColor : 'background-color: #32c24d;'
- var color = systemConfig.color ? systemConfig.color : 'color:#0096C4;'

|   .layui-laypage .layui-laypage-curr .layui-laypage-em{
|   	background-color: !{styleColor};
|   }
|   
|   .layui-colla-title{
|   	height:37px;
|   	line-height:37px;
|   	color:!{styleColor};
|   	font-size:15px;
|   }
|   
|   .layui-form-select dl dd.layui-this {
|       background-color: !{styleColor};
|       color: #fff;
|   }
|   
|   .layui-btn{
|       !{bgColor}	
|       color:#ffffff !important;
|   }
|
|   .layui-btn-original {
|       border: 1px solid #C9C9C9;
|       background-color: #fff!important;
|       color: #555!important;
|   }
|   
|   .header-ukefu .layui-nav .layui-this{
|       !{systemConfig.bgColor?systemConfig.bgColor:'background-color: #19a55d;'}
|       }
|   
|   .layui-tab-title li{
|   	color:!{styleColor};
|   }
|   
|   .product-tab .layui-tab-title .layui-this{
|   	color:!{styleColor};
|       background-color: #E6E6E6;	
|   }
|   
|   .header{
|       height: 50px; 
|       border-bottom: 
|       0px solid #404553;  
|       background-color: !{styleColor}; 
|       color: #fff;font-weight:200;
|       }
|   
|   .uk-div-monitor .agent_ch .agent_no{
|   	overflow: hidden;
|       text-overflow: ellipsis;
|       word-break: break-all;
|       white-space: nowrap;
|       color: rgba(0,0,0,.85);
|       margin-top: 4px;
|       margin-bottom: 0;
|       font-size: 30px;
|       line-height: 38px;
|       height: 38px;
|       color:!{styleColor};
|   }
|   
|   .ukefu-channel-icon{
|       position: absolute;
|       left: 40px;
|       top: 35px;
|       z-index:10000;
|       color: !{styleColor} !important;
|       font-size:20px;	
|   }
|   
|   .ztree li a:hover {
|       text-decoration: none;
|       color:!{styleColor};
|   }
|   
|   .ukefu-weixin-text-today{
|       font-size: 24px;
|       padding:10px 10px 10px 0px;
|       color:!{styleColor};	
|   }
|   
|   .ukefu-tab-title .tab-title .layui-this::after {
|       border-top: 1px solid !{styleColor};
|       border-left: 1px solid !{styleColor};
|       border-right: 1px solid !{styleColor};
|       border-bottom-color: #f5f5f5;
|   }
|   
|   .ukefu-tab-title .tab-title li {
|       color: !{styleColor};
|   }
|   
|   .ukefu-channel-tip{
|   	color:!{styleColor} !important;
|   }
|   
|   .select2-container--default .select2-selection--multiple .select2-selection__choice{
|   	background-color: !{styleColor};
|       border: 1px solid #cccccc;
|       color:#FFFFFF;
|       line-height:24px;
|   }
|   
|   .ukefu-tab-title .tab-title {
|       border-bottom: 1px solid !{styleColor};
|   }
|   
|   .select2-container--default .select2-results__option--highlighted[aria-selected]{
|   	background-color: !{styleColor};
|   }
|   
|   .ukefu-workorders-number{
|   	position: absolute;
|       left: 5px;
|       top:10px;
|       color:!{styleColor};
|       font-size:14px;
|   }
|   
|   .step-done .ui-step-cont-number { background-color: !{styleColor}; }
|   .step-done .ui-step-cont-text { color: !{styleColor} }
|   .step-done .ui-step-line { background-color: !{styleColor} }
|   
|   .step-active .ui-step-cont-number { !{bgColor} }
|   
|   .step-active .ui-step-cont-text {
|   	color: !{styleColor};
|   	font-weight: bold;
|   }
|   
|   .ukefu-system-theme1{background-color:!{styleColor};}
|   .ukefu-system-theme1 li{color:!{styleColor};}
|   
|   .ukefu-kbs-btn{
|   	position: absolute;
|   	cursor: pointer;
|   	right: 20px;
|   	top: 0px;
|   	padding: 3px 0px 3px 8px;
|       height: 32px;
|       width: 33px;
|       font-size: 25px;
|   	line-height:38px;
|   	color:#FFFFFF;
|   	!{bgColor}   
|   }
|   
|   .box .box-body .search li .fav i{
|   	font-size:20px;
|   	!{color}
|   }
|   
|   .ukef-kmmap-current{
|   	display: inline-block;
|       font-size: 14px;
|       font-weight: 400;
|       line-height: 14px;
|       text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
|       white-space: nowrap;
|       vertical-align: baseline;
|       !{bgColor}
|       padding: 4px 5px 4px 5px;
|       border-radius: 3px;
|   }
|   
|   .ukefu-workflow-status .turn{
|   	font-size: 50px;
|   	!{color}
|   }
|   
|   .ukefu-workflow-status .agree{
|   	font-size: 50px;
|   	!{color}
|   }
|   
|   .ukefu-message-file .ukefu-file-icon i{
|   	font-size:34px;
|   	margin:5px 3px 8px 0px;
|   	!{color}
|   }
|   
|   .ukefu-message-file .ukefu-file-desc{
|   	margin-left:0px;
|   	float:left;
|   	!{color}
|   }
|   
|   .ukewo-card-3 .ukewo-card-4 {
|   	overflow: hidden;
|       text-overflow: ellipsis;
|       word-break: break-all;
|       white-space: nowrap;
|       color: rgba(0,0,0,.85);
|       margin-top: 4px;
|       margin-bottom: 0;
|       font-size: 30px;
|       line-height: 38px;
|       height: 38px;
|       color:!{styleColor};
|   }
|   .ukewo-card-5{
|   	margin-left: 8px;
|       color: rgba(0,0,0,.85);
|       line-height: 38px;
|       color:!{styleColor};
|   }
|   
|   .layui-btn.green {
|       background: !{styleColor};
|       border-color: !{styleColor};
|       color: #fff;
|   }
|   
|   .theme4 {
|       background-color: !{styleColor} !important;
|   }
|   
|   .ukefu-im-theme .ukefu-im-preview-user-icon.theme4 {
|       color: !{styleColor} !important;
|   }
|   
|   .ukefu-im-point .ok{
|   	background-color:!{styleColor};
|   	color:#FFFFFF;
|   }
|   
|   .ukefu-green{
|   	background-color:!{styleColor} !important;
|   }
|   .ukefu-font{
|   	color:!{styleColor} !important;
|   }
|   
|   .layui-layout-content .layui-left-black a{
|       color: !{styleColor} !important;
|   }
|   .layui-layout-content .layui-left-black a:hover {
|       color: !{styleColor} !important;
|   }
|   
|   .ukefu-bg-color-green{
|   	background-color:!{styleColor};
|   }
|   
|   .bg-green {
|       background-color: !{styleColor};
|   }
|   
|   .ukefu-online-client{
|   	color:!{styleColor};
|   	font-size:20px;
|   }
|   
|   .uk_organ .uk_organ_skill{
|       position: absolute;
|       right: 0px;
|       top: 5px;	
|       color:!{styleColor};
|   }
|   
|   .online{
|   	color:!{styleColor};
|   }
|   
|   .ukefu-label {
|       display: inline-block;
|       font-weight: 400;
|       color: #fff;
|       text-align: center;
|       white-space: nowrap;
|       vertical-align: baseline;
|       border-radius: .25em;
|       background-color:!{styleColor};
|       height: 22px;
|       line-height: 22px;
|       padding: 0 5px;
|       font-size: 14px;
|   }
|   
|   .ukefu-tag-add{
|   	float:right;
|       color: !{styleColor};
|       font-size:20px;
|       font-weight:600; 
|       position: relative;       
|   }
|   
|   .ukefu-quick-reply li{
|       line-height: 26px;
|       overflow: hidden;
|       list-style: decimal-leading-zero inside;
|       color: !{styleColor} !important;
|       font-style: normal;
|       margin-bottom: 5px;	
|   }
|   
|   .ukefu-tab-title .layui-tab-title{
|       border-bottom: 1px solid !{styleColor};	
|   }
|   .ukefu-tab-title .layui-tab-title .layui-this::after{
|       border: 1px solid !{styleColor};
|       border-bottom-color: #f5f5f5;    	
|   }
|   
|   .ukefu-im-theme .ukefu-im-preview-user-message.theme4:after {
|       background-color: !{styleColor} !important;
|   }
|   
|   .ukefu-online-user{
|   	color:!{styleColor};
|   }
|
|   .ukefu-softphone{
|   	position: absolute;
|       top: 0px;
|       height: 50px;
|       right:0px;
|       border-radius: 50px;
|       width: #{user.admin?'740px':'690px'};
|       padding: 0px 5px 0px 20px;
|   }

include system.pug
include ukefu.css