form.layui-form#selfTransAgentUserFormcca(method='post')
    input(type='hidden', name='userid', value=userid)
    input(type='hidden', name='agentserviceid', value=agentserviceid)
    input(type='hidden', name='agentuserid', value=agentuserid)
    input(type='hidden', name='currentAgentnoid', value=agentnoid)
    .row(style='height:295px;')
        .col-lg-3
            .box
                .box-title
                    h1.site-h1(style='background-color:#FFFFFF;margin:0px;padding:0 0 4px 20px;')
                        | 技能组
                .box-body(style='padding:0px 0px;position: relative;height:250px;overflow-y:auto;')
                    ul
                        if skillGroups
                            for skill in skillGroups
                                if (user.affiliates.contains(skill.id))
                                    - var agentNum = 0
                                    if userList
                                        for agent in userList
                                            if skill.id && agent.organs[skill.id]
                                                - agentNum = agentNum + 1
                                    li.uk_role(title= skill.name + "(" + agentNum + ")", class=({'this': skill.id == currentorgan}),  style="margin:0px;padding:7px 0 7px 20px;", onclick="$('.uk_role.this').removeClass('this');$(this).addClass('this');")
                                        a(href="/apps/cca/transfer/agent.html?organ=" + skill.id + "&agentid=" + agentno, data-toggle="load", data-target="#skillAgentList")
                                            i.kfont(style="margin-top: 3px;float: left") 
                                            span(style="max-width: 120px;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;float: left;margin: 0 3px")= skill.name
                                        | （#{agentNum}）
                        if skillGroups
                            for skill in skillGroups
                                if (!user.affiliates.contains(skill.id))
                                    - var agentNum = 0
                                    if userList
                                        for agent in userList
                                            if skill.id && agent.organs[skill.id]
                                                - agentNum = agentNum + 1
                                    li.uk_role(title= skill.name + "(" + agentNum + ")", class=({'this': skill.id == currentorgan}),  style="margin:0px;padding:7px 0 7px 20px;", onclick="$('.uk_role.this').removeClass('this');$(this).addClass('this');")
                                        a(href="/apps/cca/transfer/agent.html?organ=" + skill.id + "&agentid=" + agentno, data-toggle="load", data-target="#skillAgentList")
                                            i.kfont(style="margin-top: 3px;float: left") 
                                            span(style="max-width: 120px;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;float: left;margin: 0 3px")= skill.name
                                        | （#{agentNum}）
        .col-lg-9(style='border-left:1px solid #dedede;')
            .box
                .box-body#skillAgentList(style='padding:0px 2px;position: relative;height:295px;overflow-y:auto;')
                    include /apps/agent/transferagentlist.pug
    .row(style='margin-top:5px;')
        .col-lg-12
            h1.site-h1(style='background-color:#EEEEEE;padding-left: 20px') 转接附言（最多不超过255个字符）
            .layui-form-item(style='padding-left:10px;padding-top:5px;')
                .layui-inline
                    .layui-input-inline(style='width: 720px;')
                        textarea.layui-textarea(name='memo', placeholder='请输入转接附言', style='resize:none;height:90px;min-height:90px;margin-left: 5px', maxlength='255')
                            if agentservice
                                | #{agentservice.transmemo}
    .layui-form-button
        .layui-button-block
            button.layui-btn(lay-submit, lay-filter='contactsForm') 转接
            button.layui-btn.layui-btn-original(type='button', onclick='layer.close(top.layerwin);') 关闭
script.
    $('.ukefu-agentstatus td:not(:last-child)').on("click", function () {
        $('.ctxid').prop("checked", false);
        if ($(this).parent().find("input").prop("checked")) {
            $(this).parent().find("input").prop("checked", false);
        } else {
            $(this).parent().find("input").prop("checked", true);
        }
    });
    /**
     * 转接访客坐席
     * @param agentUserId
     * @param targetAgentno
     * @param agentUserServiceId
     * @param memo
     */
    function submitTransAgentUserOut(agentUserId, targetAgentno, agentUserServiceId, memo) {
        restApiRequest({
            silent: true,
            path: 'agentuser',
            data: {
                ops: 'transout',
                agentno: targetAgentno,
                agentUserId: agentUserId,
                agentServiceId: agentUserServiceId,
                memo: memo
            }
        }).then(function (result) {
            if (result.status) {
                // Token过期
                handleRestApiFail(result.status);
            } else if (result.rc === 0) {
                // 转接成功
                //  进行显示调整
                if ($('#customerChatAudit').length > 0 && customerChatAudit != null && customerChatAudit.$) {
                    customerChatAudit.$("li[remove-id=" + agentUserId + "] a").click();
                }
                top.layer.msg('转接已完成', {icon: 1, time: 1000})
            } else if (result.rc === 1) {
                top.layer.msg('不合法的请求参数', {icon: 2, time: 3000})
            } else if (result.rc === 2) {
                top.layer.msg('不合法的操作', {icon: 2, time: 3000})
            } else if (result.rc === 3) {
                top.layer.msg('您没有权限执行该操作', {icon: 2, time: 3000})
            } else if (result.rc === 4) {
                top.layer.msg('该访客会话不存在', {icon: 2, time: 3000})
            } else if (result.rc === 5) {
                top.layer.msg('参数不合法', {icon: 2, time: 3000})
            }
        }, function (error) {
            console.log("error", error);
            // 服务器异常
            top.layer.msg('服务器抽风，请稍后再试！', {icon: 2, time: 3000})
        })
    }

    $(function () {
        $('#selfTransAgentUserFormcca').on('submit', function (e) {
            e.preventDefault();  //prevent form from submitting
            var data = $("#selfTransAgentUserFormcca :input").serializeArray();
            var params = {};
            for (var index = 0; index < data.length; index++) {
                params[data[index]['name']] = data[index]["value"];
            }
            // 验证数据的完整，以下为必填
            if (params["userid"] && params["agentuserid"] && params["agentserviceid"] && params["agentno"]) {
                submitTransAgentUserOut(params["agentuserid"], params["agentno"], params["agentserviceid"], params["memo"]);
            } else {
                top.layer.msg('未选择合理的转接信息！', {icon: 2, time: 3000});
            }
        });
    });
            
