// Copyright (C) 2018-2022 Chatopera Inc, <https://www.chatopera.com>
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
//  Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="Cache-Control" content="no-siteapp")
        meta(name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="sourcecode-author", content="春松客服")
        meta(name="sourcecode-license", content="Apache 2.0")
        title= systemConfig.title ? systemConfig.title : '春松客服 | 多渠道智能客服_联络中心'
        if systemConfig.favlogo
            link(rel="shortcut icon" type="image/x-icon" href='/res/image.html?id=' + systemConfig.favlogo)
        else
            link(rel="shortcut icon" type="image/x-icon" href='/images/favicon.ico')
        link(rel="stylesheet" href="/css/layui.css")
        link(rel="stylesheet" href="/css/login.css")
        link(rel="stylesheet" href="/css/flexboxgrid.min.css")
        if extrasLoginChatbox != "off"
            script(defer="true" src="#{extrasLoginChatbox}")
        script(src="/layui.js")
        script(language="javascript").
            if ((window.frameElement && window.frameElement.id || '') != "") {
                top.location.href = "/login.html";
            }
            layui.use('layer', function () {
                var layer = layui.layer;
                var msg = '#{msg}';
                if (msg == '0')
                    layer.msg('用户名或密码错误，请重新填写', {icon: 2, time: 3000})
                else if (msg == '1')
                    layer.msg('用户注册成功，请通过用户名和密码登陆', {icon: 2, time: 3000})
                else if (msg == '2')
                    layer.msg('您的账号已经在其它浏览器登录，请确认是您本人的操作，保证安全。', {icon: 4, offset: 't', time: 0})
            });
            layui.use('form', function () {
                var form = layui.form();
            });
            function preLogin() {
                localStorage.uid = document.getElementById("username").value;
            }
            window.onload = function () {
                var uid = localStorage.uid;
                if (uid) {
                    document.getElementById("username").value = uid;
                }
                console.info("春松客服：上线开源客服系统 https://www.cskefu.com/")
                console.info("   * 鼓励我们不断的优化春松客服，给春松客服点赞 https://github.com/cskefu/cskefu/stargazers");
                console.info("   * 加入春松客服开源社区 https://www.cskefu.com/join-us/");
            }
            if ('#{tongjiBaiduSiteKey}') {
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?#{tongjiBaiduSiteKey}";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            }
        if userExpTelemetry == 'on'
            script(src='https://www.googletagmanager.com/gtag/js?id=G-SBBX10RKTC' async)
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'G-SBBX10RKTC');

    body.login
        if extrasLoginBanner != "off"
            div(style="width: 100%; height:50px; background-color: #2bd99e; padding-top: 0px;display: flex;")
                p(style="color: white;margin: auto; font-size: 15px")= extrasLoginBanner
        .login-box
            .login-logo
                a
                    if systemConfig && systemConfig.loginlogo
                        img(src='/res/image.html?id=' + systemConfig.loginlogo style="height:60px;width:220px;")
                    else
                        img(src="images/logo2.png" style="width:220px;")
            .login-box-body
                p.login-box-msg 账号密码登陆
                form#loginForm.layui-form(action="/login.html" method="post")
                    .form-group.has-feedback
                        span.layui-icon.form-control-feedback 
                        input#username.form-control.required(name="username" autofocus="" required="" lay-verify="required" value="" placeholder="用户名")
                    .form-group.has-feedback(style="margin-bottom:10px;")
                        span.kfont.form-control-feedback 
                        input#password.form-control.required(type="password" name="password" required="" lay-verify="required" value="" placeholder="密码")
                    .row(style="margin-bottom:20px;padding:0 20px;")
                        .col-md-6
                    .row(style="margin-bottom:20px;padding:0 20px;")
                        .col-xs-12
                            button.btn.btn-block.btn-primary.btn-lg(onclick="preLogin()") 立即登录
                        if show
                            .col-xs-12
                                p.btm-text
                                    | 还没有账号？
                                    a(href="/register.html") 注册新账号
        div(style="text-align: center;"): a(style="display: inline-block;color: #C7C6C6;text-decoration: none;cursor: pointer;", href="https://www.cskefu.com", target="_blank") Powered by CSKeFu

