//- Copyright (C) 2023 Beijing Huaxia Chunsong Technology Co., Ltd. 
//- <https://www.chatopera.com>, Licensed under the Chunsong Public 
//- License, Version 1.0  (the "License"), https://docs.cskefu.com/licenses/v1.html
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- Copyright (C) 2018-Jun. 2023 Chatopera Inc, <https://www.chatopera.com>
//- Licensed under the Apache License, Version 2.0
//- http://www.apache.org/licenses/LICENSE-2.0
ul
    li.ukefu-entim-organ-open
        h5.ukefu-entim-organ(lay-filter='spread', lay-type='true')
            i.layui-icon 
            span 我创建的群
            - var curgroup = 0
            if groupList
                for imgroup in groupList
                    - curgroup = curgroup+1
            em
                | (
                cite.layim-count= curgroup
                | )
        ul.ukefu-user-list.ukefu-group
            if groupList
                for imgroup in groupList
                    li(id="group_#{imgroup.id}")
                        a(href="javascript:void(0)", onclick="openchat('/ent/im/group.html?id=#{imgroup.id}', '/images/imgroup.png' , '#{imgroup.name}' , '#{imgroup.id}' , '创建时间:#{pugHelper.formatDate('yyyy-MM-dd HH:mm:ss', imgroup.createtime)}');")
                            img(src="/images/imgroup.png")
                            span= imgroup.name
                        .ukefu-session-tip(class="cont_#{imgroup.id}")
    li.ukefu-entim-organ-open
        h5.ukefu-entim-organ(lay-filter='spread', lay-type='true')
            i.layui-icon 
            span 我加入的群
            - var curgroup = 0
            if joinGroupList
            for imGroup in joinGroupList
                if imGroup.imgroup && user.id != imGroup.creater
                    - curgroup = curgroup+1
            em
                | (
                cite.layim-count= curgroup
                | )
        ul.ukefu-user-list.ukefu-group
            if joinGroupList
                for imGroup in joinGroupList
                    if imGroup.imgroup && user.id != imGroup.creater
                        li(id="group_#{imGroup.imgroup.id}")
                            a(href="javascript:void(0)", onclick="openchat('/ent/im/group.html?id=#{imGroup.imgroup.id}', '/images/imgroup.png' , '#{imGroup.imgroup.name}' , '#{imGroup.imgroup.id}' , '创建时间:#{pugHelper.formatDate('yyyy-MM-dd HH:mm:ss', imGroup.imgroup.createtime)}');")
                                img(src="/images/imgroup.png")
                                span= imGroup.imgroup.name
                            .ukefu-session-tip(class="cont_#{imGroup.imgroup.id}")
